@model List<dNetApp.Models.Account>

@{
    ViewBag.Title = "Account list";
}
<h2>@ViewBag.Title</h2>

    <hr />
    <table class= "table-striped list" >

        <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Edit account
            </th>
            <th>
                Delete account
            </th>
        </tr>
        </thead>

        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class= "nameTd">
                    @Html.DisplayFor(modelItem => item.Name)  
                </td>
                <td class="editTd">
                    <div class="editBtn">
                        @Html.ActionLink("Edit", "Form", new { id = item.ID })
                    </div>                  
                </td>
                <td class="deleteTd">
                    <div class="dangerBtn">
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    </div>

                </td>
                </tr>    
        }

            <tr>
                <td class="nameTd">
                    <div class="okBtn">
                        @Html.ActionLink("Create new", "Form")
                    </div>
                </td>
                <td></td>
                <td></td>
            </tr>
        </tbody>

    </table>


               